.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('./images/bgTest2.jpg');
	background-size: 100% 100%;
gap: 30px;
	overflow: hidden;
	h1 {
		color: rgb(193, 241, 180);
		font-size: 65px;
		font-weight: 700;
		font-family: 'Rubik Puddles', serif;
		word-spacing: 20px;
	}
	.buttons {
		display: flex;
		gap: 30px;
		a {
			  font-family: "Rubik 80s Fade", system-ui;
			display: inline-block;
			text-align: center;
			line-height: 40px;
			font-size: 20px;
			border-radius: 8px;
			text-decoration: none;
			color: rgb(5, 4, 4);
			background-color: rgb(193, 241, 180);
			width: 150px;
			height: 40px;
			transition: transform 0.3s ease;
			&:hover{
				background-color: rgb(176, 189, 170);
			}
			&:active{
				transform: scale(0.97);
			}
		}
	}
}
